.header {
    width: 100%;
    padding: 15px 20px;
    background-color: rgba(26, 32, 53, 0.8);
    border-radius: 15px;
    top: 20px;
    z-index: 99;
    backdrop-filter: blur(4px);
    position: sticky;
    box-shadow: rgb(52 71 103 / 90%) 0rem 0rem 0.0625rem 0.0625rem inset, rgb(0 0 0 / 5%) 0rem 1.25rem 1.6875rem 0rem;
}

.header .page-path a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.664);
    font-size: 14px;
    font-weight: 600 !important;
}

.header .page-path .breadcrumb {
    margin: 0;
}

.header .page-path h5 {
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 10px;
}

.gap {
    column-gap: 20px;
}

.header .sidebar-toggle {
    background-color: rgba(255, 255, 255, 0.116) !important;
    padding: 0;
    height: 30px;
    width: 30px;
    border: 0;
    border-radius: 50%;
    font-size: bold;
    animation: pulse 2s infinite;
    box-shadow: 0 0 0 rgba(189, 189, 189, 0.4);
    display: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(189, 189, 189, 0.4);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(189, 189, 189, 0.4);
        box-shadow: 0 0 0 0 rgba(189, 189, 189, 0.4);
    }

    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.header .right-buttons {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

/* .header .right-buttons input {
    padding: 12px;
    border: 1px solid #ffffff3a;
    background: transparent;
    border-radius: 12px;
    outline: none;
    color: #ffff;
}

.header .right-buttons input:hover {
    border: 1px solid #fff;
} */

/* .header .right-buttons input::-webkit-input-placeholder {
    color: lightgray;
} */

.header .input_wrap {
    position: relative;
}

.header .header-search {
    padding: 12px;
    border: 1px solid #ffffff65;
    background: transparent;
    border-radius: 12px;
    outline: none;
    color: #ffff;
}

.header .header-search:focus {
    border: 1px solid rgb(26, 115, 232);
}

.header .input_wrap label {
    font-size: 14px;
    color: #ffffff99;
    padding: 14px;
    font-weight: 400;
    position: absolute;
    top: -1px;
    left: 0;
    transition: 0.2s ease all;
    pointer-events: none;
}

.header .header-search:focus+label {
    font-size: 12px;
    color: rgb(26, 115, 232);
    top: -10px;
    left: 10px;
    background-color: rgba(26, 32, 53, 0.8);
    padding: 0px 5px 0px 5px;
    backdrop-filter: blur(4px);
    display: block;
}

.header .header-search:valid+label {
    font-size: 12px;
    color: rgb(26, 115, 232);
    top: -10px;
    left: 10px;
    background-color: rgba(26, 32, 53, 0.8);
    padding: 0px 5px 0px 5px;
    backdrop-filter: blur(4px);
    display: block;
}

.header .right-buttons .user, .header .right-buttons .notification {
    background-color: transparent !important;
    padding: 0px;
    border: none;
    box-shadow: none !important;
    font-size: 23px;
    color: rgba(255, 255, 255, 0.651);
    display: flex;
    align-items: center;
}

.notification-modal {
    width: 340px;
    max-width: 340px;
    padding: 12px;
    background-color: rgb(32, 41, 64);
    position: fixed;
    z-index: 999;
    top: 75px;
    right: 20px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 14%) 0rem 0.125rem 0.125rem 0rem, rgb(0 0 0 / 20%) 0rem 0.1875rem 0.0625rem -0.125rem, rgb(0 0 0 / 12%) 0rem 0.0625rem 0.3125rem 0rem;
}

.notification-modal button {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 100%;
    background-color: transparent;
    padding: 10px 15px;
    border: none;
    box-shadow: none !important;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.671);
    font-weight: 400;
}

.notification-modal button.active {
    background-color: rgb(52, 71, 103) !important;
    color: rgb(255, 255, 255) !important;
}

.notification-modal button svg {
    font-size: 22px;
}

.notification-modal button:hover {
    background-color: rgb(52, 71, 103);
}

@media (max-width: 1400px) {
    .sidebar-toggle {
        display: block !important;
    }
}